@font-face {
    font-family: "Noah";
    src: url(../assets/fonts/Noah-Bold.otf);
}
@font-face {
    font-family: "NoahItalic";
    src: url(../assets/fonts/Noah-BoldItalic.otf);
}


body {
  font-family: 'Noah', sans-serif;
}

.continueContainer{
  width: 100%;
  height: 100%;
  padding-top: 30%;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  cursor:pointer;
  top:0;
  overflow:hidden;
}

.continue{
  font-size: 1.5rem;
  font-family: 'NoahItalic';
  top:0;
}

.continue:hover{
  opacity: 60%;
}

.menuSection{
  width:100%;
  height:100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu{
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuItem{
  opacity: 0%;
  margin: 20px;
}

.menuItem .revealOpacity:hover{
  cursor: pointer;
  opacity: 60%;
}

.menuItemDisabled{
  opacity: 0%;
  margin: 20px;
}

.menuTitle{
  margin:30px;
  font-size: 2.15rem;
  opacity: 0%;
}
